[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
requests = "==2.20.0"
line-bot-sdk = "==1.0.0"
gunicorn = "==19.5.0"
Django = "==1.11.27"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
